@page
@model IndexModel
@{
    ViewData["Title"] = "RG Sounds";
}

<meta
    name="viewport"
    content="width=device-width", initial-scale=1, shrink-to-fit=no
      />

<div class="text-center">
    <h1 class="display-4">RG Sounds</h1>
    <p>Listen to local producer Raj Gogna's music and enquire for your own personal use</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>Track Listing</h2>
        </div>
        <div class="col-8">
            <div class="row">
                <h2>Media Player</h2>
            </div>
            <div class="row">
                <h2>Track Info</h2>
            </div>
        </div>
    </div>    
</div>
