@page
@model IndexModel
@{
    ViewData["Title"] = "RG Studio";
}

<head>
    <meta name="viewport"
          content="width=device-width" , initial-scale=1, shrink-to-fit=no />
</head>

<div class="row">
    <div class="text-center">
        <h1 class="display-4">RG Studio</h1>
    </div>
    <p>Listen to local producer Raj Gogna's music and enquire for your own personal use</p>
</div>

<div class="row">
    <div class="col-4">
        <h2>Track Listing</h2>
    </div>
    <div class="col-8">
        <div class="row overflow-hidden">
            <h2>Media Player</h2>
            <div class="row">
                <p>image set to go here</p>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn"><i class="fa fa-play"></i>Play</button>
                </div>
                <div class="col">
                    <button class="btn"><i class="fa fa-stop"></i>Stop</button>
                </div>
                <div class="col">
                    <button class="btn"><i class="fa fa-pause"></i>Pause</button>
                </div>
                <div class="col">
                    <button class="btn"><i class="fa-solid fa-backward-step"></i>Prev</button>
                </div>
                <div class="col">
                    <button class="btn"><i class="fa-solid fa-forward-step"></i>Next</button>
                </div>
            </div>
        </div>
        <div class="row overflow-hidden">
            <h2>Track Info</h2>
            <div class="row">
                Name:
            </div>
            <div class="row">
                Length:
            </div>
            <div class="row">
                License:
            </div>
        </div>
    </div>
</div>




